* {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  padding: 1rem;
  background-color: rgba(109, 109, 109, 0.623);
}

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 30rem;
}
.logo {
  width: 20rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(255, 252, 252, 0.2);
  border-radius: 5rem;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar:hover {
  color: rgb(121, 118, 118);
}
.search-bar input {
  height: 4rem;
  width: 30rem;
  border-radius: 25rem;
  font-size: 3rem;
  border: none;
  padding: 0 5rem;
}
.search-bar input:focus {
  outline: none;
}
.search-bar .search-icon {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  bottom: 3rem;
  font-size: 2rem;
}

.search-bar-icon .fa-search {
  position: absolute;
  margin-right: 5rem;
}
#log-in {
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

#log-in:hover {
  color: rgb(121, 118, 118);
}

#cart {
  font-size: 3rem;
  cursor: pointer;
}

#cart:hover {
  color: rgb(121, 118, 118);
}

.menu {
  position: fixed;
  background-color: rgb(68, 66, 66);
  height: calc(100vh - 0.1px);
  width: 400px;
}

.menu .filter {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25rem;
  display: inline-block;
  overflow: hidden;
  margin-top: 50%;
}

.menu .filter select {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
}

/* meniu content */

/* body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
input,
button {
  font-family: inherit;
} */

/* style */

.accordion {
  background-color: #f1f1f1;
  color: #3f3d56;
  padding: 1.5rem;
  margin: 1.5rem;
  border-radius: 0.625rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.accordion h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.question {
  position: relative;
  font-size: 1.25rem;
  border: 2px solid #3f3d56;
  padding: 0.625rem 1rem;
  cursor: pointer;
  user-select: none;
}
.question::after {
  content: "+";
  position: absolute;
  right: 1rem;
}
.answer {
  font-size: 0.9;
  padding: 0.625rem 1rem 0.1rem 1rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  line-height: 1.6;
}

.question.open + .answer {
  opacity: 1;
  overflow: visible;
  height: 100%;
  padding-bottom: 2rem;
}

.question.open::after {
  content: "-";
}

/* label */
/* The container */
.container_label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container_label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_label input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
form .btn {
  display: block;
  color: #fff;
  padding: 0.625rem 3rem;
  font-size: 1rem;
  background-color: #3f3d56;
  margin-top: 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.625rem;
  transition: opacity 0.2s ease-in-out;
  margin: 0 auto;
}
form .btn:hover {
  cursor: pointer;
  opacity: 0.75;
}
