* {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  background-color: rgba(109, 109, 109, 0.623);
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 30rem;
  padding: 1rem;
}
.logo {
  width: 20rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(255, 252, 252, 0.2);
  border-radius: 5rem;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-content form {
  position: relative;
  height: 50px;
  width: 500px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 20px;
}
.text_input {
  height: 56px;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  border: none;
  padding-left: 1rem;
}
.text_input:focus {
  outline: none;
}
.navbar-content form button {
  position: absolute;
  height: 50px;
  line-height: 50px;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background: rgb(87, 87, 86);
  color: white;
  border: none;
  width: 30%;
  font-weight: bold;
  border-radius: 0;
  transition: all 0.5s;
}
.navbar-content form button:hover {
  background: rgb(121, 118, 118);
  color: black;
  cursor: pointer;
}
#log-in {
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

#log-in:hover {
  color: rgb(121, 118, 118);
}

#cart {
  font-size: 3rem;
  cursor: pointer;
}

#cart:hover {
  color: rgb(121, 118, 118);
}
