<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ae97ef602e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title>{% block title %}Books store {% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-logo">
          <a href="/">
            <img src="/static/images/logo.png" alt="The logo" class="logo" />
          </a>
        </div>
        <div class="navbar-content">
          <form action="{{ url_for('get_books_sing_search_bar')}}" , method="post">
            <input
              type="text"
              id="myInput"
              placeholder="Search for names.."
              title="Type in a name"
              name="myInput"
            />
            <button type="submit" class="btn">Search</button>
          </form>
          <i class="fa fa-fw fa-user" id="log-in"></i>
          <i class="fa-solid fa-cart-shopping" id="cart"></i>
        </div>
      </div>
      <div class="page-container">
        {% block content %}{% endblock %}
      </div>
      <div class='footer-container'>
        <div class='footer-links'>
        <div class='footer-link-wrapper'>
            <div class='footer-link-items'>
                <h2>About Us</h2>
                <a href="/">How is works</a>
                <a href="/">Testimonial</a>
                <a href="/">Careers</a>
                <a href="/">Inventors</a>
                <a href="/">Terms of Services</a>
            </div>
            <div class='footer-link-items'>
                <h2>Contact Us</h2>
                <a href="/">Contact</a>
                <a href="/">Support</a>
                <a href="/">Destinations</a>
                <a href="/">Sponsorships</a>
            </div>
            <div class='footer-link-items'>
                <h2>Videos</h2>
                <a href="/">Submit Video</a>
                <a href="/">Ambassadors</a>
                <a href="/">Agency</a>
                <a href="/">Influencer</a>
            </div>
            <div class='footer-link-items'>
                <h2>Social Media</h2>
                <a href="/">Instagram</a>
                <a href="/">Facebook</a>
                <a href="/">Youtube</a>
                <a href="/">Twitter</a>
            </div>
        </div>

      </div>
      <section class='social-media'>
        <div class='social-media-wrap'>
            <div class='footer-logo'>
                <a href="/" class='social-logo'>
                    TSW <FontAwesomeIcon icon={faCircleInfo}/>
                </a>
            </div>
            <small class='website-rights'>TSW © 2020</small>
            <div class='social-icons'>
                <a 
                    class='social-icon-link facebook' 
                    href="/" 
                    target='_blank' 
                    aria-label='Facebook'>
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a 
                    class='social-icon-link instagram' 
                    href="/" 
                    target='_blank' 
                    aria-label='Instagram'>
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a
                    class='social-icon-link youtube'
                    href="/"
                    target='_blank'
                    aria-label='Youtube'
                    >
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a
                    class='social-icon-link twitter'
                    href="/"
                    target='_blank'
                    aria-label='Twitter'
                    >
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
            </div>
        </div>
      </section>
    </div>
      <script src="/static/js/base.js"></script>
      <script src="/static/js/home.js"></script>
      <script src="/static/js/pagination.js"></script>
    </body>
    </html>