{% extends "seach_bar_result.html" %} {%block pagination%}

<div class="pagination">
  <div class="left">
    <button class="btn1" onclick="Arr(1)">
      <img src="/static/images/arrow.png" alt="left arrow" />
    </button>
    <button class="btn1" onclick="Btn(-1)">prev</button>
  </div>
  <ul>
    <li class="link active" value="1" onclick="activeLink()">1</li>
    <li class="link" value="2" onclick="activeLink()">2</li>
    <li class="link" value="3" onclick="activeLink()">3</li>
    <li class="link" value="4" onclick="activeLink()">4</li>
    <li class="link" value="5" onclick="activeLink()">5</li>
    <li class="link" value="6" onclick="activeLink()">6</li>
  </ul>
  <div class="left">
    <button class="btn2" onclick="Btn(+1)">next</button>
    <button class="btn2" onclick="Arr(6)">
      <img src="/static/images/arrow.png" alt="right arrow" />
    </button>
  </div>
</div>

{% endblock %}
